/* Cards */
/* General */
.card-header {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    font-size: 20px;
}

.card-text {
    font-size: 18px;
    color: #555;
}

/* Pillar Card */
.pillar-card {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
    transition: transform 0.3s ease;
}

.pillar-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* Topic Card */
.sub-topic-card {
    background-color: #f8f9fa;
    border-left: 4px solid var(--primary-color);
    border-radius: 0.5rem;
    padding: 1rem;
}

/* Belief Card */
.belief-card {
    border-radius: var(--border-radius-small);
    padding: 5px;
    transition: all 0.5s ease;
    border: 1px solid var(--border-color);
    position: relative;
    overflow: hidden;
    background: var(--white-color);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

/* Flip Card */
.flip-card {
    background-color: transparent;
    perspective: 1000px;
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(0, 172, 193, 0.15);
    padding: 2rem;
    background-color: #ffffff;
}

.flip-text p {
    margin: 0.25rem 0;
    font-size: 18px;
}

.flip-tile {
    font-size: 4rem;
    color: rgba(0, 172, 193, 0.1);
    position: absolute;
    top: 10px;
    right: 20px;
}

/* Chapter Card */
.chapter-card {
    background: var(--white-color);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border-top: 5px solid var(--primary-color);
}

.verse-card {
    background-color: #00acc126;
    padding: 10px;
    border-radius: 10px;
}

.text-en {
    font-size: 1rem;
    text-align: left;
    direction: ltr;
}

/* Hadith Card */
.hadith-card {
    background-color: var(--white-color);
    border: 1px solid #ddd;
    border-left: 8px solid var(--primary-color);
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.hadith-card:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* Life Card */
.life-card {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.20);
    transition: 0.3s ease-in-out;
    padding: 15px;
}

.life-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.40);
}

/* List */
.topic-list {
    color: var(--primary-color);
    font-weight: 400;
}

.life-list {
    list-style: none;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.life-list li::before {
    content: "✔";
    color: #00acc1;
    margin-right: 0.5rem;
}

.chapter-list {
    list-style: none;
    padding-left: 0;
}

.chapter-list li {
    padding: 12px 20px;
    background: #00acc12e;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #312f2f;
}

.chapter-list li:hover {
    background-color: #00acc16b;
    cursor: pointer;
}

/* Buttons */
.read-more-btn {
    background-color: var(--btn-bg-color);
    color: var(--white-color);
    border: none;
    border-radius: 0.5rem;
    padding: 10px 20px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.read-more-btn:hover {
    background-color: var(--hover-color);
    color: var(--white-color);
}

.btn-read {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 30px;
    font-weight: 500;
    padding: 0.4rem 1.2rem;
    border: none;
    margin-top: 1rem;
    text-decoration: none;
}

.btn-read:hover {
    background-color: #e0f7fa;
    color: #007c91;
}

@media (max-width: 768px) {
    .chapter-card {
        padding: 10px;
    }

    .chapter-list li {
        padding: 5px 10px;
        font-size: 16px;
    }

    .col-two,
    .col-four {
        columns: 1;
    }
}