<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center gap-2 fw-semibold" href="../../index.html">
            <img src="../../img/logo.png" alt="Logo" class="logo">
            <div>
                ISLAMIC<br>
                <span class="d-block small">STUDY PORTAL</span>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="../../index.html">HOME</a></li>
                <li class="nav-item"><a class="nav-link" href="../../islam.html">ISLAM</a></li>
                <li class="nav-item"><a class="nav-link" href="../../beliefs.html">BELIEF</a></li>
                <li class="nav-item"><a class="nav-link" href="../../quran.html">QURAN</a></li>
                <li class="nav-item"><a class="nav-link" href="../../hadith.html">HADITH</a></li>
                <li class="nav-item"><a class="nav-link" href="../../life.html">LIFE</a></li>
            </ul>
        </div>
    </div>
</nav>